<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>카풀피풀</title>
<link rel="stylesheet" href="../static/css/linearicons.css"
	th:href="@{/css/linearicons.css}">
<link rel="stylesheet" href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" href="../static/css/nice-select.css"
	th:href="@{/css/nice-select.css}">
<link rel="stylesheet" href="../static/css/animate.min.css"
	th:href="@{/css/animate.min.css}">
<link rel="stylesheet" href="../static/css/owl.carousel.css"
	th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">
<link rel="stylesheet" href="../static/css/mypage.css"
	th:href="@{/css/mypage.css}">
<style rel="stylesheet">
a:visited {
	color: #fab700;
	text-decoration: underline;
}
</style>
<script>
	function mypage_edit() {
		if (!document.form.sent.value) {
			alert("수신 여부를 체크해 주세요.");
			return false;
		}
		if (!document.form.smoking.value) {
			alert("흡연 여부를 체크해 주세요.");
			return false;
		}
		if (!document.form.vehicle.value) {
			alert("차량 제공 여부를 체크해 주세요.");
			return false;
		}
		document.form.submit
	}
</script>
</head>
<body>
	<div th:replace="~{headerLogin :: headerLogin}"></div>

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12"></div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start blog-posts Area -->
	<br>
	<br>
	<br>
	<section>
		<div class="container">
			<!-- Content Row -->
			<div class="row">
				<!-- Sidebar Column -->
				<div class="col-lg-3 mb-4">
					<div th:replace="mypage/mypageSideMenu :: sideMenu"></div>
				</div>

				<!-- Content Column -->
				<!-- Content Column -->
				<div class="col-lg-9 mb-4" align="center">
					<h2>내 프로필 수정</h2>
					<p>비밀번호를 입력해 회원님의 프로필을 수정해보세요.</p>
					<form action="/mypageEdit/update" th:action="@{/mypageEdit/update}" method="post" name="form">
						<table border="1">
							<tr class="mypage_tr">
								<td class="mypage_td1">이름</td>
								<td class="mypage_td2"><span th:text="${user.name}"></span></td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">이메일</td>
								<td class="mypage_td2"><input type="text" size="15"
									name="email1" th:value="${user.email1}">@<input
									type="text" size="15" name="email2"
									th:value="${user.email2}"></td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">수신 여부</td>
								<td class="mypage_td2"><input type="radio" name="sent"
									value="수신동의"> 수신동의&nbsp;&nbsp; <input type="radio"
									name="sent" value="수신거부"> 수신거부</td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">전화번호</td>
								<td class="mypage_td2"><select name="ph1">
										<option value="010">010</option>
										<option value="011">011</option>
										<option value="016">016</option>
										<option value="017">017</option>
										<option value="019">019</option>
								</select> - <input type="text" name="ph2" size="5" maxlength="4"
									th:value="${user.ph2}"> - <input type="text"
									name="ph3" size="5" maxlength="4" required
									th:value="${user.ph3}"></td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">성별</td>
								<td class="mypage_td2"><span th:text="${user.gender}"></span></td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">생년월일</td>
								<td class="mypage_td2"><span th:text="${user.birth1}"></span>년&nbsp;<span th:text="${user.birth2}"></span>월&nbsp;<span th:text="${user.birth3}"></span>일</td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">흡연여부</td>
								<td class="mypage_td2"><input type="radio" name="smoking"
									value="흡연"> 흡연&nbsp;&nbsp; <input
									type="radio" name="smoking" value="비흡연"> 비흡연</td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">차량 제공 여부</td>
								<td class="mypage_td2"><input type="radio" name="vehicle"
									value="제공"> 제공&nbsp;&nbsp; <input
									type="radio" name="vehicle" value="비제공"> 비제공</td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1">우편번호</td>
								<td class="mypage_td2"><input
									type="text" class="zipcode"
									name="zipcode" size="10" id="sample6_postcode" th:value="${user.zipcode}" readonly>&nbsp;<input
									type="button" onclick="sample6_execDaumPostcode()"
									value="우편번호 찾기"></td>
							</tr>

							<tr class="mypage_tr">
								<td class="mypage_td1" rowspan="2">주소</td>
								<td class="mypage_td2"><input th:value="${user.addr1}"
									type="text" class="addr" name="addr1" size="60"
									id="sample6_address" readonly /></td>
							</tr>
							<tr class="mypage_tr">
								<td class="mypage_td2"><input th:value="${user.addr2}"
									type="text" class="addr" name="addr2" size="60"
									id="sample6_address2" /></td>
								<div id="wrap"
									style="display: none; border: 1px solid; width: 500px; height: 300px; margin: 5px 0; position: relative">
									<img
										src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png"
										id="btnFoldWrap"
										style="cursor: pointer; position: absolute; right: 0px; top: -1px; z-index: 1"
										onclick="foldDaumPostcode()" alt="접기 버튼">
								</div>


								<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
								<script>
									function sample6_execDaumPostcode() {
										new daum.Postcode(
												{
													oncomplete : function(data) {
														// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

														// 각 주소의 노출 규칙에 따라 주소를 조합한다.
														// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
														var fullAddr = ''; // 최종 주소 변수
														var extraAddr = ''; // 조합형 주소 변수

														// 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
														if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
															fullAddr = data.roadAddress;

														} else { // 사용자가 지번 주소를 선택했을 경우(J)
															fullAddr = data.jibunAddress;
														}

														// 사용자가 선택한 주소가 도로명 타입일때 조합한다.
														if (data.userSelectedType === 'R') {
															//법정동명이 있을 경우 추가한다.
															if (data.bname !== '') {
																extraAddr += data.bname;
															}
															// 건물명이 있을 경우 추가한다.
															if (data.buildingName !== '') {
																extraAddr += (extraAddr !== '' ? ', '
																		+ data.buildingName
																		: data.buildingName);
															}
															// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
															fullAddr += (extraAddr !== '' ? ' ('
																	+ extraAddr
																	+ ')'
																	: '');
														}

														// 우편번호와 주소 정보를 해당 필드에 넣는다.
														document
																.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
														document
																.getElementById('sample6_address').value = fullAddr;

														// 커서를 상세주소 필드로 이동한다.
														document
																.getElementById(
																		'sample6_address2')
																.focus();
													}
												}).open();
									}
								</script>

							</tr>
						</table>
						<br> <input class="name" type="password" name="password"
							placeholder="비밀번호 입력" size="15" maxlength="20"> <br>
						<br> <input class="cancelButton" type="button" value="취소"
							onclick="javascript:location.href='mypage'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
							class="finishButton" type="submit" value="완료"
							onclick="mypage_edit()">
					</form>
				</div>
			</div>
			<!-- /.row -->

		</div>
	</section>
	<br>
	<br>

	<div th:replace="~{footer :: footer}"></div>
	<script src="../static/js/vendor/jquery-2.2.4.min.js"
		th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script src="../static/js/vendor/bootstrap.min.js"
		th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="../static/js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
	<script src="../static/js/hoverIntent.js"
		th:src="@{/js/hoverIntent.js}"></script>
	<script src="../static/js/superfish.min.js"
		th:src="@{/js/superfish.min.js}"></script>
	<script src="../static/js/jquery.ajaxchimp.min.js"
		th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"
		th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/owl.carousel.min.js"
		th:src="@{/js/owl.carousel.min.js}"></script>
	<script src="../static/js/jquery.sticky.js"
		th:src="@{/js/jquery.sticky.js}"></script>
	<script src="../static/js/jquery.nice-select.min.js"
		th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script src="../static/js/waypoints.min.js"
		th:src="@{/js/waypoints.min.js}"></script>
	<script src="../static/js/jquery.counterup.min.js"
		th:src="@{/js/jquery.counterup.min.js}"></script>
	<script src="../static/js/parallax.min.js"
		th:src="@{/js/parallax.min.js}"></script>
	<script src="../static/js/mail-script.js"
		th:src="@{/js/mail-script.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>



