form{
	width:100%;
}

.check{
	text-align:center;
}

.mypage_table{
	border: 1px solid #e1e1e1;
}

.table_top{
	height:35px;
}

.table_bottom{
	height:35px;
	border-bottom: 1px solid #e1e1e1;
}

.table_side{
	width:4%;
}

.cart_table{
	width:100%;
	border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin: 0;
}

.cart_tr{
	border-bottom: 2px solid #ddd;
}

.cartCount0{
	height:100px;
	text-align:center;
	padding:20px 0 20px 0;
}

.cartCount0_span{
	font-size:14px;
	font-weight:700;
	color:#525252;
}

.cartCount0_span2{
	font-size:14px;
	font-weight:700;
	color:#969696;
}

.cart_title{
	height:40px;
	text-align:center;
	background:#f0f0f0;
	font-size: 12px;
    color: #525252;
    font-weight:700;
    border: 2px solid #ddd;	
    border-left:none;
	font-family:"Poppins", sans-serif;   
	width:7%;
}

.cart_title2{
	height:40px;
	text-align:center;
	background:#f0f0f0;
	font-size: 12px;
    color: #525252;
    font-weight:700;
    border: 2px solid #ddd;	
	font-family:"Poppins", sans-serif;   
	width:48%; 
}

.cart_title3{
	height:40px;
	text-align:center;
	background:#f0f0f0;
	font-size: 12px;
    color: #525252;
    font-weight:700;
    border: 2px solid #ddd;	
	font-family:"Poppins", sans-serif;
	width:15%;    
}


.cart_title4{
	height:40px;
	text-align:center;
	background:#f0f0f0;
	font-size: 12px;
    color: #525252;
    font-weight:700;
    border: 2px solid #ddd;	
    border-right:none;    
	font-family:"Poppins", sans-serif;    
	width:15%;
}

.cart_title5{
	height:40px;
	text-align:center;
	background:#f0f0f0;
	font-size: 12px;
    color: #525252;
    font-weight:700;
    border: 2px solid #ddd;	
    border-right:none;    
	font-family:"Poppins", sans-serif;    
	width:15%;
}

.cartNum_td{
	text-align:center;
}

.delCartItem2{
    color: #525252;
    font-weight: 700;
    background: #fff;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #c1c1c1;
    display: inline;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
}

.buyCartItem{
    color: #fff;
    font-weight: 700;
    background: #f42f2c;
    font-size: 10px;
    border-radius: 3px;
    border: 1px solid #f42f2c;
    display: inline;
    padding: 5px 19.5px 5px 19.5px;
    cursor: pointer;
}

.cart_bottom{
	height:40px;
	background:#f0f0f0;
	font-family:"Poppins", sans-serif; 	
	text-align:center;
}

.bottom_font{
	font-size: 12px;
	color: #525252;
    font-weight:500;
}

.bottom_name{
	color:#f42f2c;
	margin-right:1px;
}

.cart_content{
	padding:4px 0 0 8px;
	display:block;
		
}

.input_price{
	padding-right:3px;	
	font-family: Arial, Nanum Gothic, Nanum Gothic;	
	width:60px;
	height:18px;		
	text-align:right;
	border:none;
}

.cart_price{
	text-align:center;
    font-size: 12px;
    color: #525252;	
}

.cartImg{
	width:82px;
	height:82px;
}

.cartName{
	margin-left:7px;
	font-size:13px;
	font-family: Arial, Nanum Gothic, Nanum Gothic;
	color:#525252;
	font-weight:500;
}

.cartVolume{
	font-size: 10px;
    color: #525252;
    font-family: Arial, Nanum Gothic, Nanum Gothic;
    padding: 5px 0px 5px 10px;
}

.cart_count{
	width:41px;
	height:18px;
	margin-left:6px;
	text-align:right;
	padding-right:5px;
}

.price_table{
  	width:100%;	
  	
}

.price_content{
	width:400px;
	height:125px;
	background:#f42f2c;
}

.price_table2{
  	width:100%;	
  	height:100%;
  	padding:10px 0 10px 0;
}

.price_real{
	width:50%;
	color:#fff;
	font-size:13px;
	font-family: Arial, Nanum Gothic, Nanum Gothic;
	font-weight:500;
	text-align:left;
	padding-left:25px;
}

.price_real2{
	width:50%;
	color:#fff;
	font-size:13px;
	font-family: Arial, Nanum Gothic, Nanum Gothic;
	font-weight:500;
	text-align:right;
	padding-right:25px;
}

.price_real_1{
	width:50%;
	color:#fff;
	font-size:15px;
	font-family: Arial, Nanum Gothic, Nanum Gothic;
	font-weight:700;
	text-align:left;
	padding-left:25px;
}

.price_real2_1{
	width:50%;
	color:#fff;
	font-size:15px;
	font-family: Arial, Nanum Gothic, Nanum Gothic;
	font-weight:700;
	text-align:right;
	padding-right:25px;
}

.img-minus{
	width:20px;
	height:20px;
	border-radius:3px;
	border:1px solid #c1c1c1;
}

.img-plus{
	width:20px;
	height:20px;
	border-radius:3px;
	border:1px solid #c1c1c1;
}

.count_update{
	height:20px;
	width:40px;
	color:#525252;
	font-weight:700;
	background:#fff;
	font-size:10px;
	border-radius:3px;
	border:1px solid #c1c1c1;	
	display:inline;
	vertical-align:middle;
	padding:4px 10px 3px 10px;
	cursor:pointer;
}

.count_update:hover .count_update:hover:focus .count_update:active{
	color:#525252;
}

.total_amount{
	width:150px;
	background:#f42f2c;
	border:#f42f2c;
	color:#fff;
	font-weight:500;
	padding-right:3px;
	text-align:right;
}

.total_amount2{
	width:150px;
	background:#f42f2c;
	border:#f42f2c;
	color:#fff;
	font-weight:700;
	padding-right:3px;
	text-align:right;
}

.button_blank{
	height:60px;
}

.button_td{
	text-align:center;
}

.select_delete{
	width:130px;
	height:50px;
	border: 1px solid #d4d4d4;
    background-color: #ccc;
    color: #000;
    font-weight:700;
    min-width: 110px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    cursor: pointer;  
    margin:0 5px 0 0;      
}

.select_delete:hover{
	background: #c1c1c1;	
}

.select_order{
	width:130px;
	height:50px;
	border: 1px solid #c1c1c1;
    background-color: #f42f2c;
    color: #fff;
    font-weight:700;
    min-width: 110px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    cursor: pointer;
    margin:0 5px 0 5px;      	
}

.select_order:hover{
	background: #e62e2b;	
}

.clear{
	width:130px;
	height:50px;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    color: #2a2a2a;
    font-weight:700;
    min-width: 110px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    cursor: pointer;	
    margin:0 5px 0 5px;    
}

.shopping{
	width:130px;
	height:50px;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    color: #2a2a2a;
    font-weight:700;
    min-width: 110px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    cursor: pointer;	
    margin:0 0 0 5px;     
}