html, body {
	height: 100%;
}

body {
	display: table;
	margin: 0 auto;
	background-color: #f8f8f8;
}

.container {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#content {
	margin: 0 auto;
	padding: 60px 0;
	width: 958px;
	_width: 960px;
	border: solid 1px #d8d8d8;
	text-align: center;
	background-color: #fff;
}

<!-- 濡쒓렇�씤 �뤌 �떆�옉 -->
.login-page {
  width: 466.4px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 466px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type=text] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: #f2f2f2 1px solid;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=text]:focus {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:#f42f2c 1px solid;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type=password] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: #f2f2f2 1px solid;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=password]:focus {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:#f42f2c 1px solid;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type=button] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f42f2c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input[type=button]:hover,.form input[type=button]:active,.form input[type=button]:focus {
  background: #e62e2b;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f42f2c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #e62e2b;
}

.form input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f42f2c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input[type=submit]:hover,.form input[type=submit]:active,.form input[type=submit]:focus {
  background: #e62e2b;
}
.form .message {
  margin: 15px 0 0;
  color: #666;
  font-size: 12px;
}
.form .message a {
  color: #666;
  text-decoration: none;
}

.form .message a:hover {
  color: #666;
  text-decoration:underline;
}
.form .register-form {
  display: none;
}
.container {
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
<!-- 濡쒓렇�씤 �뤌 �걹 -->
<!-- 濡쒓렇�씤 泥댄겕諛뺤뒪 踰꾪듉 �떆�옉 -->
color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.checks {position: relative;}

.checks input[type="checkbox"] {  /* �떎�젣 泥댄겕諛뺤뒪�뒗 �솕硫댁뿉�꽌 �닲源� */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size:13px;
  color:#666;
}
.checks input[type="checkbox"] + label:before {  /* 媛�吏� 泥댄겕諛뺤뒪 */
  content: ' ';
  display: inline-block;
  width: 18px;  /* 泥댄겕諛뺤뒪�쓽 �꼫鍮꾨�� 吏��젙 */
  height: 18px;  /* 泥댄겕諛뺤뒪�쓽 �넂�씠瑜� 吏��젙 */
  line-height: 21px; /* �꽭濡쒖젙�젹�쓣 �쐞�빐 �넂�씠媛믨낵 �씪移� */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 泥댄겕諛뺤뒪瑜� 泥댄겕�뻽�쓣�븣 */ 
    content: "\2713";  /* 泥댄겕紐⑥뼇 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 14px; 
    font-weight:800; 
    color: #fff;  
    background:#f42f2c;
    text-align: center;  
    line-height: 18px;  


}

.error-next-box{
	display: block;
    margin: 0px 0px 15px 0px;
    font-size: 12px;
    line-height: 14px;
    color: #f42f2c;
    border:#f8f8f8;
    background:#fff;
    width:374px;
}

.error-next-box2{
	display: block;
    font-size: 12px;
    line-height: 14px;
    color: #f42f2c;
    border:#f8f8f8;
    background:#fff;
	width:260px;
}


header{
	text-align:center;
	margin-top:20px;
	margin-bottom:59px;
}
<!-- 濡쒓렇�씤 泥댄겕諛뺤뒪 踰꾪듉 �걹
 -->
