.m-list2{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.m-list1{
	margin:15px;
}

.m-menu {
	background: #fff;
	margin-top: 20px
}

.m-menu .title-wrap {
	margin-bottom: 0px
}

.m-menu p {
	margin-bottom: 0px;
	max-width: 392px
}


.m-menu-text {
	padding:10px 20px;
}

.productName{
	display:block;
	font-size:13px;
	color:#555;
	font-weight:400;
}

.productName:hover{
	text-decoration:underline;
}

.productPrice {
	color: #f42f2c;
	font-size:22px;
	font-weight:700;
}

.productVolume {
	display:block;
	font-size:11px;
	color:#222;
	font-weight:400;
}

.productPrice-m{
	font-size:15px;
	color:#f42f2c;
	font-weight:400;
}

.subject{
	font-size:16px;
}