table{
	font-family:'³ª´®¹Ù¸¥°íµñ',NanumBarunGothic,'Apple SD Gothic Neo',AppleGothic,'µ¸¿ò',Dotum,sans-serif;
}

.productImg{
	width:500px;
	height:500px;
	border-radius:0px;
}

.productEx{
	width:588px;
	height:67.2px;
}

.productBlank{
	width:50px;
}

.productTdImg{
	vertical-align:top;
}

.productTable{

}

.productName{
	font-size:30px;
	line-height:35px;
	color:#222;
	letter-spacing:-.5px;
	word-wrap:break-word;
	word-break:break-all;
	margin:0px 0px 4px 0px;
    font-family:"Poppins", sans-serif;	
}

.productOrigin{
	font-size:25px;
	font-weight:normal;
	line-height:33px;
	color:#666;
    font-family:"Poppins", sans-serif;	
}

.productEx2{
	height:20px;
}

.productEx3{
	height:65px;
	vertical-align:top;
	border-left:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
}

.productEx4{
	height:65px;
	vertical-align:bottom;
	border-bottom:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
}

.productEx5{
	height:64px;
	text-align:right;
	border-bottom:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
}

.productEx6{
	margin: 33px 0 41px;
    padding-right: 19px;
    line-height: 42px;
    height:120px;
    letter-spacing: -.5px;
    text-align:right;
	border-bottom:1px solid #cccccc;    
}

.productEx7{
	height:90px; 
	vertical-align:bottom;
	horizonal-align: middle;	
}

.productTd{
	width:588px;
	vertical-align:top;
	border-bottom:1px solid #cccccc;
}

.productTop{
	margin:0px 0px 28px 0px;
}

.productMiddle{
	margin:0px 0px 46px 0px;
}

.productOriginDiv{
	margin:0 0 0 4px;
}

.productPrice{
	font-size:40px;
	font-family:'Roboto-Medium',sans-serif;
	color:#222;
	font-weight:700;
	float:left;
    font-family:"Poppins", sans-serif;	
}

.productWon{
	font-size:26px;
	color:#222;
	margin: 4px 0 0 3px;
	float:left;
    font-family:"Poppins", sans-serif;	
}

.productVolume{
	margin:7px 0 0 4px;
	font-size:15px;
	line-height:18px;
	color:#666;
	letter-spacing:-.5px;
	font-weight:700;
    font-family:"Poppins", sans-serif;	
}

.productCount{
	margin:7px 0 35px 4px;
	font-size:15px;
	line-height:18px;
	color:#666;
	letter-spacing:-.5px;
	font-weight:700;
    font-family:"Poppins", sans-serif;	
}

.productSaleCount{
	padding:15px 19px;
	background:#f4f4f4;
}

.productSaleName{
	vertical-align:top;
	font-size: 16px;
    line-height: 27px;
    color: #666;
    font-weight:700;
    letter-spacing: -.5px;
    word-wrap: break-word;
    word-break: break-all;
    font-family:"Poppins", sans-serif;    
}

.inpbx{
    width: 40px;
    height: 35px;
    background: #fff;
    vertical-align: top;
    text-align:center;	
}

.product_amount{
	float:left;
	color: #222;
    width:50px;
    height:35px;
    border:1px solid #e7e7e7;
    font-size:14px;
    line-height:35px;
    text-align:center;	
    font-family:'³ª´®¹Ù¸¥°íµñ',NanumBarunGothic,'Apple SD Gothic Neo',AppleGothic,'µ¸¿ò',Dotum,sans-serif;
}

.img-plus{
	width:35px;
	height:35px;
	border:1px solid #e7e7e7;
}

.amount{
	float:left;
}

.img-minus{
 	width:35px;
	height:35px;
	border:1px solid #e7e7e7;
 }
 
.product_amountBox{
 	padding:15px 19px;
    color: #222;
    background:#f4f4f4;
 }
 
.product_amountPrice{
    font-family:"Poppins", sans-serif;
    font-size: 25px;
    font-weight:500;
    font-style:normal;
    margin-bottom:5px;
    float:right;	
 }
 
.product_amountPriceWon{
    font-size: 16px;
    font-weight:700;
    margin: 2px 0 -1px 2px;
    float:right;
    font-family:"Poppins", sans-serif;    
 }
 
.ex6Won{
 	float:right;
 	color:#f7511a;
 	font-weight:500;	
	margin: 3px 0 0 2px;
    font-size: 20px;
    font-weight:500;
    vertical-align: middle;
    font-family:"Poppins", sans-serif;
}

.ex6Price{
	float:right;
 	color:#f7511a;
 	font-weight:700;
    font-family:"Poppins", sans-serif;
    font-size: 35px;
    vertical-align: middle;	
    margin:0 2px 0 15px;
}

.ex6Hap{
	margin:1px 0 0 0;
 	float:right;
 	color:#222;	
	font-size: 25px;
    font-weight:500;
    font-family:"Poppins", sans-serif;
    vertical-align: middle;	
}

.ex7Cart{
	float:left;
}

.ex7Buy{
	float:left;
}

.product_cart{
	height:55px;
  	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #222;
	font-size: 14px;
	width:294px;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight:600;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.product_buy{
	height:55px;
  	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #f42f2c;
	font-size: 14px;
	width:294px;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight:600;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.productBlank2{
	height:250px;
}

.productTr{
	height:54px;
	border-bottom:4px solid #222;
}

.productTr2{
	vertical-align:bottom;
}