
.section-center{
	background:#f8f8f8;
	padding:120px 0;
	display:block;
}



.form .input-reciSub {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 610px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
}

.form .input-reciSub:focus {
  border:#f42f2c 1px solid;
}

.form .input-reciIntro{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 610px;
  height:100px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    
  resize: none;
}

.form .input-reciIntro:focus {
  border:#f42f2c 1px solid;
}

.form .input-reciIntro2{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 610px;
  height:120px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    
  resize: none;
}

.form .input-reciIntro2:focus {
  border:#f42f2c 1px solid;
}

.form .input-mat2Find {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 330px;
  height:55px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  margin:0 5px 0 40px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form .input-mat2Find:focus {
  border:#f42f2c 1px solid;
}


.form .input-mat2Vol {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 280px;
  height:55px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  margin:0 3px 0 0;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form .input-mat2Vol:focus {
  border:#f42f2c 1px solid;;
}

.form .input-matName {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fffdd7;
  width: 210px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  color:#555;
  font-weight:700;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}

.form .input-matName:focus {
  border:#f42f2c 1px solid;
}

.error-next-box{
	display: block;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: #f42f2c;
    border:#f8f8f8;
    background:#f8f8f8;
    
}


.reciTable1{
	width:100%;
	margin-bottom:13px;
	border:1px solid #e1e1e1	
}

.reciTable2{
	width:100%;
	border:1px solid #e1e1e1;
	border-bottom:none;
	border-top:none;			
}

.reciTable3{
	width:100%;
	border:1px solid #e1e1e1;
	border-bottom:none;		
}

.reciTable4{
	width:100%;
	margin-bottom:13px;
	border:1px solid #e1e1e1	
}

.reciTable5{
	width:100%;
	margin-bottom:13px;
	border:1px solid #e1e1e1;
	text-align:center;
}

.reciTable3-1{
	width:100%;
	border:1px solid #e1e1e1;
	border-bottom:none;		
	border-top:none;		
}

.reciTable3-2{
	width:100%;
	border:1px solid #e1e1e1;	
	border-top:none;		
	margin-bottom:13px;
}

.reciTable3-2 .blank{
	height:20px;		
}

.orderPic{
	border: 1px solid #e1e1e1;
    margin-bottom: 5px;	
}

.orderButton-td{
	text-align:center;
}

.reciTable2-1{
	width:100%;
	border:1px solid #e1e1e1;
	border-bottom:none;
}

.reciTable2-2{
	width:100%;
	border:1px solid #e1e1e1;
	border-top:none;	
	margin-bottom:13px;		
}

.guide-td1{
	height:45px;
	vertical-align:top;	
}

.matName-sit{
	vertical-align:top;
}

.matName-sit2{
	text-align:left;
	vertical-align:top;
}

.orderContent{
  width:650px;
  height:160px;
  resize:none;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    	
}

.orderContent-td{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 280px;
  border: #f2f2f2 1px solid;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-color:#d5d5d5;
}

.orderContent-td:focus{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 280px;
  border: #f2f2f2 1px solid;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-color:#d5d5d5;
}

.recipe-submit{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f42f2c;
  width: 310px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.recipe-submit:hover, .recipe-submit:active, .recipe-submit:focus {
  background: #e62e2b;
}

.recipe-submit2{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f0ad4e;
  width: 310px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.recipe-submit2:hover, .recipe-submit2:active, .recipe-submit2:focus {
  background: #d88e24;
}

.reciTable1 #reciMainPicImg{
	border: 1px solid #e1e1e1;
	margin-bottom:5px;	
}


.recipe-button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #d4d4d4;
  width: 310px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.recipe-button:hover, .recipe-button:active, .recipe-buttonfocus {
  background: #c1c1c1;
}

.enroll_title{
    font-size: 22px;
    font-weight: normal;
	color:#333;
}

.enroll_title_td{
	vertical-align:top;
	padding-top:8px;
}

.enroll_title_td1{
	vertical-align:top;
	padding-top:8px;
	width:148px;
}

table{
	background:#fff;
}

.table-top{
	height:35px;
}

.table-left{
	width:45px;
}

.table-right{
	width:30px;
}

.table-bottom{
	height:40px;
}

.table-bottom2{
	height:20px;
	border-bottom:1px solid  #e1e1e1; 
}

.reciTable1 .reciInput{
	vertical-align:top;
	text-align:left;
}

.reciTable1 .reciInputPic{
	vertical-align:top;
	text-align:right;
}

.reciTable1 .blank{
	height:35px;
}

.reciTable1 .blank2{
	height:12px;
}

.reciTable2 .blank3{
	height:15px;
}

.reciTable3 .blank{
	height:30px;
}

.reciTable4 .blank{
	height:35px;
}

.reciTable5 .table-top{
	height:35px;
}

.reciTable5 .table-bottom{
	height:40px;
}

.reciTable3 .guide{
	font-weight:700;
}

.reciTable3 .guide2{
    font-size: 15px;
    line-height: 1.8;
    margin-top: 6px;
    color: #999;
}

.reciTable3-1 .blank2{
	height:25px;
}

.reciTable3-1 .blank3{
	height:20px;
}

.reciTable3-1 .step{
	width:200px;
    font-size: 38px;
    vertical-align: top;
    color: #f42f2c;
    text-align:center;	
}

.reciTable3-1 .textContent{
	vertical-align:middle;
}

.reciTable3-1 .uploadImg{
	vertical-align:top;
	width:330px;	
	padding-left:5px;
}

.reciTable3-1 .orderPic{
	width:160px;
	height:160px;
	cursor:pointer;	
}

.reciTable4{
	width:100%;
}

.reciTable4 .blank{
	height:35px;
}

.reciTable1 .reciSelect1{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 130px;
  height:55px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
}

.reciTable1 .reciSelect1:focus{
  border: 1px solid #f42f2c;
}

.reciTable1 .reciSelect2{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 130px;
  height:55px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
  margin-right:30px;
}

.reciTable1 .reciSelect2:focus{
  border: 1px solid #f42f2c;
}


.reciTable1 .reciSelect3{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f5f5f5;
  width: 110px;
  height:55px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 4px;  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;  
   margin-right:30px;
}

.reciTable1 .reciSelect3:focus{
  border: 1px solid #f42f2c;
}
.reciInputText{
	font-weight:500;
	font-size: 17px;
    line-height: 1.42857143;
    color: #333;
}

.guide{
    font-size: 16px;
    line-height: 1.8;
    color: #999;
    font-weight:500;	
}

.InputreciMainPic{
	width:250px;
}

form{
	width:100%;
}

.groupDelete{
	text-align:center;
}

.groupDeleteButton{
	margin:7px 0 0 65px;
	width:83px;
	height:30px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;	
	color: #333;
    background-color: #fff;
    border: 1px solid #ccc;    
}

.addButton{
    border: none;
    background: none;
    margin: 10px 70px 28px 0px;
    padding: 0;
    font-size: 18px;
    color: #444;
    font-weight:700;	
}

.orderButton{
    border: none;
    background: none;
    margin-bottom:40px;
    padding: 0;
    font-size: 18px;
    color: #444;
    font-weight:700;	
}

.addButtonTd{
	text-align:center;
}

.addImg{
	width:17px;
	height:17px;
	margin:0 4px 4px 0;
}

.deleteImg{
	width:20px;
	height:20px;	
}

.deleteButton{	
	border:none;
	background:#fff;
	margin:0 0 10px 0;
	vertical-align:middle;
}

.deleteButton2{	
	border:none;
	background:#fff;
	margin:0 0 10px 0;
	padding-top:65px;
	vertical-align:top;
}

.input-mat2{
	margin:0 0 10px 0;
}

.groupAddButton-Td{
	text-align:center;
    padding:12px 0 12px 0;	
    font-size: 16px;
    line-height: 1.8;
    color: #f43434;	    
}

.groupAddButton-Td2{
	text-align:center;
}

.groupAddButton{
	padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3333333;
    border-radius: 3px;
    margin: 0 4px;
	color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    width:250px;
    height:50px;
}

.add2{
	width:17px;
	height:17px;
	margin-bottom:5px;
}

