.m-list2 {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.m-list1 {
	margin: 15px;
}

.m-menu {
	background: #fff;
	margin-top: 20px;
	border: 1px solid #e6e7e8; 
	box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.2);
}

.productImg{
	width:253px; 
	height:254px; 
	border-radius:0px; 
	border-bottom: 1px solid #e6e7e8;
}

.m-menu .title-wrap {
	margin-bottom: 0px
}

.m-menu p {
	margin-bottom: 0px;
	max-width: 392px
}

.m-menu-text {
	padding: 10px 20px;
	height:110px;
}

.productName {
	display: block;
	font-size: 16px;
	color: #555;
	font-weight: 700;
	margin: 0px 0px 8px 0px;
	width: 215px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.productPrice {
	color: #999;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
}

.productVolume {
	display: block;
	font-size: 11px;
	color: #222;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}

.productVolume2 {
	display: block;
	font-size: 11px;
	color: #222;
	font-weight: 400;
	margin: 0px 0px 8px 0px;
	font-family: "Poppins", sans-serif;
}

.productVolume3 {
	display: block;
	font-size: 14px;
	color: #f42f2c;
	font-weight: 400;
	margin: 0px 0px 8px 0px;
	font-family: "Poppins", sans-serif;
}

.productPrice-m {
	font-size: 13px;
	color: #f42f2c;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}

.subject {
	font-size: 16px;
}

.search-div {
	text-align: center;
}

.productSearch {
	width: 384px;
	height: 38px;
}

.productSearchButton {
	height: 38px;
	width: 64px;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

input#search {
	width: 450px;
	height: 50px;
	background: #fff;
	border: 1px solid #ccc;
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	font-size: 10pt;
	color: #63717f;
	padding-left: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.searchButton {
	width: 80px;
	height: 49px;
	border-radius: 5px;
	font-size: 15px;
	font-weight:500;
	color:#fff;
	background: #f42f2c;
	border:1px solid #e9110c;	
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;	
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
	font-family: "Poppins", sans-serif;    	
}

.select-anyway{
	width:100%;
	height:200px;
	background:#fff;
	border: 1px solid #e6e7e8; 
	box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.2);
}

.select-kind{
	padding:16px 25px 0 25px;
}

.select-sit{
	padding:0 25px 0 25px;
}

.select-mat{
	padding:0 25px 0 25px;
}

.select-way{
	padding:0 25px 17px 25px;
}

.select-title{
	border: 1px solid #f42f2c;
	border-radius:25px;
    color: #f42f2c;
    display: inline-block;
    font-weight: bold;
    width: 62px;
    height: 28px;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

.select-content{
	padding: 0 9px 5px 0;
    color: #666;
    vertical-align: middle;
    font-size: 13px;
    line-height: 1;
}

.select-content:hover{
	color: #f42f2c;
}

.select-content:active{
	color: #fff;
    background: #f42f2c;
    margin: 0 3px;
    border-radius: 4px;
}

.recipe-count{
	font-size: 16px;
    color: #333;
    padding: 5px 0 20px 8px;
}

.recipe-count2{
	color: #f42f2c;
    font-size: 26px;
    font-weight:700;
}

