*{
	font-family: Arial, Nanum Gothic, Nanum Gothic;    
}

.none-recipe-img{
	width:180px;
	height:180px;
	
}

.none-recipe-text{
	margin: 0;
    padding: 20px 0 15px;
    font-size: 24px;
    color: #333;
    line-height: 150%;
}

.none-recipe-text2{
	color:#bebebe;
	font-weight:600;
	font-size:16px;
}

.none-div{
	padding:40px 0;
}

.none-div2{
	padding:20px 0;
}

.goRecipeEnroll{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f42f2c;
    width: 270px;
	border-radius:5px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.goRecipeEnroll:hover{
    background-color: #e62e2b;
}

.table-content{
	height: 500px;
	border: 1px solid #e1e1e1;
	text-align: center;
	vertical-align: middle;
}

.recipe-content{
	padding:30px 21px;
}

.recipe-content-table{
	width:100%;
}

.recipe-content-table .content{
	border-top: none;
	border-bottom: 1px solid #e6e7e8;
}

.recipe-content-table .td1{
	padding: 20px 0 20px 20px;
	text-align:left;
}

.recipeSub{
	vertical-align:top;
	font-size:25px;
	margin-top:20px;
	color:#333;
	font-weight:500;
}

.recipeImg{
	margin-right:26px;
	width:180px;
	height:180px;
	float:left;
}

.recipeDate{
	background: url(http://recipe1.ezmember.co.kr/img/mobile/icon_date.png) left top no-repeat;
    background-size: 19px;
    padding: 0 0 2px 23px;
    font-size: 14px;
    color: #888;
    margin-right: 15px;
}

.recipeLookUp{
	background: url(http://recipe1.ezmember.co.kr/img/mobile/icon_view3.png) left -1px no-repeat;
    background-size: 19px;
    padding-left: 21px;
    font-size: 14px;
    color: #888;
    margin-right: 15px;
}

.recipeComment{
	background: url(http://recipe1.ezmember.co.kr/img/mobile/icon_comment2.png) left -1px no-repeat;
    background-size: 19px;
    padding: 0 0 2px 23px;
    font-size: 14px;
    color: #888;
    margin-right: 15px;
}

.recipeUpdate{
	background: #fff;
    color: #333;
    font-size: 14px;
    border-radius: 0;
    padding: 8px 24px 0;
    height: 41px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    vertical-align: top;
    margin:58px 10px 0 0;
    float:right;
    cursor:pointer;
    font-weight:500;
}

.recipeUpdate:hover{
    color: #333;
}