<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.hoseo.rot.member.Member" alias="Member"/>
		<typeAlias type="com.hoseo.rot.recipe.Recipe" alias="Recipe"/>
		<typeAlias type="com.hoseo.rot.recipe.RecipeOrder" alias="RecipeOrder"/>
		<typeAlias type="com.hoseo.rot.recipe.Material" alias="Material"/>
		<typeAlias type="com.hoseo.rot.recipe.Material2" alias="Material2"/>
		<typeAlias type="com.hoseo.rot.admin.Product" alias="Product"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/mappers/Member.xml" />
		<mapper resource="mybatis/mappers/Recipe.xml" />
		<mapper resource="mybatis/mappers/Admin.xml" />
	</mappers>
</configuration>