html, body {
	height: 100%;
}

body {
	display: table;
	margin: 0 auto;
	background-color: #f8f8f8;
}
header{
	text-align:center;
	margin-top:20px;
	margin-bottom:59px;
}

footer{
    bottom:0;
    margin-top:30px;
    margin-bottom:15px;
    width:466.4px;
}
address{
	font-style:normal;
}
.footer{
	text-align:center;
}

em{
	font-style:normal;
	color:#333;
}

#footer_em{
	font-size:9px;
	color:#333;
}

#footer_em2{
	font-size:9px;
	color:#666;
	font-weight:700;
}

<!-- 약관동의 폼 시작 -->
.login-page {
  width: 466.4px;
  padding: 8% 0 0;
  margin: auto;
}
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.button-font {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #e62e2b;
  width: 49%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-font2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #8e8e8e;
  width: 49%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight:600;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.register-form {
  display: none;
}

textarea{
	resize:none;
	color:#666;
	margin-top:8px;
	width:460px;
	height:88px;
}
<!-- 약관동의 폼 끝 -->
<!-- 약관동의 체크박스 버튼 시작 -->
color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 18px;  /* 체크박스의 너비를 지정 */
  height: 18px;  /* 체크박스의 높이를 지정 */
  line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="checkbox"] + label:active:before,
.checks input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 14px; 
    font-weight:800; 
    color: #fff;  
    background:#f42f2c;
    text-align: center;  
    line-height: 18px;  
}

.chk_font{
	margin-top:30px;
	font-size:14px;
	color:#333;
	font-weight:700;
	line-height:21px;
	cursor:pointer;
	display:block;
}
.chk_all_font{
	font-size:17px;
	color:#333;
	font-weight:700;
	line-height:21px;
	cursor:pointer;
	display:block;
}
.termsNecessary{
	font-size:12px;
	font-weight:400;
	display: inline-block;
	color:#f42f2c;
}

<!-- 약관동의 체크박스 버튼 끝 -->
