.total_money
{
	background:#fab700;
	color:#ffffff;
}

.table-header
{
	color:#ffffff; 
	background:#343A40;	
	align:center;
}

.table-header_border_all
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	font-weight:600;
	font-size:13px;
}

.table-header_border_none_right
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:1px solid black;
	border-left:1px solid black;
	font-weight:600;
	font-size:13px;
}

.table-header_border_none_left
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:1px solid black;
	border-right:1px solid black;
	font-weight:600;
	font-size:13px;
}

.table-header_border_none_side
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:1px solid black;
	font-size:12px;
}

.table-header_border_none_side1
{
	color:#343A40; 
	align:center;
	border-bottom:1px solid black;
	font-size:12px;
}

.table-header_border_all1
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:3px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	font-weight:600;
	font-size:13px;
}

.table-header_border_none_right1
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:3px solid black;
	border-left:1px solid black;
	font-weight:600;
	font-size:13px;
}

.table-header_border_none_left1
{
	color:#343A40; 
	background:#ffffff;	
	align:center;
	border-bottom:1px solid black;
	border-top:3px solid black;
	border-right:1px solid black;
	font-weight:600;
	font-size:13px;
}


.table-font
{
	color:#ffffff;
	font-weight:bold;
	font-size:17px;
}

.buyer_inform
{
	background-color:#ffffff;
	font-weight:600;
	font-size:14px;
}

.buyer_inform_font
{
	color:#000000;
	font-weight:bold;
	font-size:20px;
	margin-right:10px;
}

.buyer_inform_font2
{
	color:black;
	margin-left:15px;
}


.buyer_inform_font3
{
	color:black;
	margin-left:100px;
}
.buyer_inform_font4
{
	margin-left:15px;
	margin-left:100px;
	font-weight:bold;
}
.buyer_inform_font5
{
	color:black;
	margin-left:135px;
}

.buyer_inform_font6
{
	font-size:13px;
	color:black;
	margin-left:15px;
	
}
.buyer_inform_font7
{
	color:black;
	margin-left:105px;
}


.buyer_inform1
{
	height:50px;
	color:black;
}

.buyer_inform2
{
	color:black;	
}