<style rel="stylesheet">

hr{
 border-color: #000000;
 border-width: 4px;
 padding-left: 160px;
 width:1000px;
}

tr{height:60px;}
.td1{width:300px; text-align:center;}
.td2{width:1000px;}
.hr2{
 width:900px;
 border-color: #0BC904;
 border-width: 1px;
 padding-left: 160px;
}
td{
 font-size: 13px;
 font-family: 돋음;
 vertical-align: middle;
 color: #5D5D5D;
}

select,option{
 height:23px;
}
.selectph1{
 height:23px;
 vertical-align: bottom;
}
.danger1{
 color: red;
 font-size:11px;
 padding-left: 20px;
 background: #f1f1f1;

}


.danger2{
 color: red;
 font-size:11px;
 padding-left: 160px;
}

.danger3{
 color: black;
 font-size:11px;
 padding-left: 20px;
 background: #f1f1f1;

}

.input {
    border: 2px solid #c9c8be;
    border-radius: 4px;
     width:200px;
    height:50px;
}
</style>