<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<title>카풀피풀</title>
</head>
<body>
	<footer class="footer-area section-gap" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>CarPoolPeopool</h6>
						<p>
							서울호서직업전문학교 ICT보안융합계열 컴퓨터공학과<br>2학년 A반 JSP Team Project 1조
							(지도교수 : 김종언)
						</p>
						<p class="footer-text">Copyright 2018. CarPoolPeopool. All
							rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>