<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>카풀피풀</title>
<link rel="stylesheet" href="../static/css/linearicons.css"
	th:href="@{/css/linearicons.css}">
<link rel="stylesheet" href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/magnific-popup.css"
	th:href="@{/css/magnific-popup.css}">
<link rel="stylesheet" href="../static/css/nice-select.css"
	th:href="@{/css/nice-select.css}">
<link rel="stylesheet" href="../static/css/animate.min.css"
	th:href="@{/css/animate.min.css}">
<link rel="stylesheet" href="../static/css/owl.carousel.css"
	th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">
<link rel="stylesheet" href="../static/css/find.css"
	th:href="@{/css/find.css}">
</head>
<body>
	<div th:replace="~{headerLogin :: headerLogin}"></div>

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12"></div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start blog-posts Area -->
	<br>
	<br>
	<br>
	<section>
		<div class="container">

			<h2>비밀번호 재설정</h2>
			<hr class="hr" color="black">
			<br>
			<form action="/findPasswordProc/update"
				th:action="@{/findPasswordProc/update}" method="post"
				name="form">
				<center>
					<table>
						<tr>
							<td class="find2"><input name="id" type="hidden"
								th:value="${memId}"></td>
						</tr>
						<tr class="tr">
							<td class="find2"><input class="name" type="password"
								name="password" size="15" maxlength="20" placeholder="새 비밀번호"
								required></td>
						</tr>
						<tr class="tr">

							<td class="find2"><input class="name" type="password"
								name="passwordcheck" size="15" onblur="passchk()"
								placeholder="새 비밀번호 확인" maxlength="20" required> &nbsp;
								<input type="text" class="danger1" style="border-width: 0px"
								size="20" name="chk" value="비밀번호를 입력하세요" readonly="readonly"></td>
						</tr>

						<tr class="tr">
							<td colspan="2">
								<center>
									<input class="findPasswordButton" type="submit"
										onclick="repassword()" value="확인">
								</center>
							</td>
						</tr>
					</table>
				</center>
			</form>

		</div>

	</section>
	<br>
	<br>
	<br>

	<div th:replace="~{footer :: footer}"></div>
	<script src="../static/css/js/findPasswordProc.js"
		th:src="@{/css/js/findPasswordProc.js}"></script>
	<script src="../static/js/vendor/jquery-2.2.4.min.js"
		th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script src="../static/js/vendor/bootstrap.min.js"
		th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="../static/js/easing.min.js" th:src="@{/js/easing.min.js}"></script>
	<script src="../static/js/hoverIntent.js"
		th:src="@{/js/hoverIntent.js}"></script>
	<script src="../static/js/superfish.min.js"
		th:src="@{/js/superfish.min.js}"></script>
	<script src="../static/js/jquery.ajaxchimp.min.js"
		th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"
		th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script src="../static/js/owl.carousel.min.js"
		th:src="@{/js/owl.carousel.min.js}"></script>
	<script src="../static/js/jquery.sticky.js"
		th:src="@{/js/jquery.sticky.js}"></script>
	<script src="../static/js/jquery.nice-select.min.js"
		th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script src="../static/js/waypoints.min.js"
		th:src="@{/js/waypoints.min.js}"></script>
	<script src="../static/js/jquery.counterup.min.js"
		th:src="@{/js/jquery.counterup.min.js}"></script>
	<script src="../static/js/parallax.min.js"
		th:src="@{/js/parallax.min.js}"></script>
	<script src="../static/js/mail-script.js"
		th:src="@{/js/mail-script.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>



