<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>카풀피풀</title>

</head>
<body>

	<center>
		<br>
		<br>
		<br>
		<br>
		<br> 이미 존재하는 아이디입니다. <br>
		<br>
		<br>
		<button onclick="window.close()">확인</button>
	</center>

	<center>
		<br>
		<br>
		<br>
		<br>
		<br> 입력하신 <span><strong> </strong></span>는 사용 가능한 아이디입니다.
		<br>
		<br>
		<br>
		<button onClick="window.close()">확인</button>
	</center>
	<!-- 아이디가 존재하지 않을 때 이미지 -->
